window {
margin: 0px;
border: 1px solid  #3d3a58; /* #bd93f9; */
border-radius: 5px;
background-color: #C3C0E0;
font-family: Terminess Nerd Font;
opacity: .95;
}

#input {
margin: 5px;
border: none;
border-radius: 10px;
color: #DFDFE7;
background-color: #2A2A2A;
}

#inner-box {
border: none;
border-radius: 5px;
}

#outer-box {
margin: 2px;
border: none;
border-radius: 5px;
background-color: #24232F;
opacity: .95;
}

#text {
margin: 5px;
border: none;
color: #DFDFE7;
} 

#img.drun-icon {
margin-right: 8px;
}

#entry {
margin: 10px;
border-radius: 10px;
}

#entry:selected {
background-color: #3A4059;
}
